@tailwind base;
@tailwind components;
@tailwind utilities;
.body {
  background-color: #fdfcf0;
}
.page-container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
/* MovieList */
.movie-list .swiper-slide {
  width: 240px;
  height: auto;
}
/* MovieCard */
.overlay {
  display: none;
  position: absolute;
  inset: 0px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
}
.moviecard-container:hover .overlay {
  display: flex;
}
