@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
/* MovieList */
.movie-list .swiper-slide {
  width: 240px;
  height: auto;
}
/* MovieCard */
.overlay {
  display: none;
  width: 240px;
  height: 350px;
  position: absolute;
  inset: 0px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
}
.overlay:hover {
  display: block;
}
